@use 'variables' as v;
@use 'mixins' as m;

.cart-modal{
    display: none;
    width: 360px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top: 75px;
    right: 6px;
    background-color: v.$White;

    &--title{
        font-weight: 700;
        padding: 24px ;
        border-bottom:1px solid  v.$Grayish-blue;

    }
    &--checkout-container{
        padding: 24px;
    }
    &--details-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        color: v.$Dark-grayish-blue;
    }
    &--image-product{
        width: 50px;
        border-radius: 4px;
    }
    &--price span{
        color: v.$Black;
        font-weight: 700;
    }
    &--delete:hover{
        cursor: pointer;
    }
    &--checkout{
        @include m.button;
    }
}